spring:
  application:
    name: spoonsuits-local-test
  profiles:
    include: secret, local
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://127.0.0.1:3308/test_spoonsuits
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
  sql:
    init:
      # schema.sql, data.sql 스크립트를 이용한 SQL DB 초기화 시,
      # 기본적으로는 임베디드 인메모리 DB에 대해서만 이 초기화가 자동 실행된다고 함.
      # 항상 SQL DB 초기화되게끔 하고자 한다면 spring.sql.init.mode=always로 설정.
      # 반대로 항상 초기화를 끄고자 한다면 never로 설정.
      mode: always

jwt:
  issuer: kimquel@good
  secretKey: this-is-for-jwt-secret-key-which-has-very-long-length
  token:
    access:
      expiry: PT5M
      cookie-name: access-token
    refresh:
      expiry: PT10M
      cookie-name: refresh-token